
/** CREATE POST STYLING **/
body {
  background: #17010e;
}
.createPostContainer {
  margin: 0px auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
  .createPostContainer .body {
    width: 99%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    border: 1px #ddd;
    padding-bottom: 115px;
		margin: 2.5% auto;
  }
  .createPostContainer .body img {
    border-radius: 6px;
  }

	.createPostContainer .actions {
		position: fixed;
    font-size: 28px;
    font-family: ubuntu;
	 	bottom: 5%;
    display: flex;
    width: 100%;
    -webkit-transition: all .25s ease-in-out;
  }
  .uploadButton{
    border: none;
    border-radius: 66px;
    margin: 5px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    height: 70px;
    width: 75%;
    color: #111;
    font-size: 22px;
    font-family: "ubuntu", "helvetica neue";
    font-weight: 300;
    background: #79164f;
    color: #fff;
  }


.photoDialog {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0px;
  display: none;
  border: 0px;
  backdrop-filter: blur(8px);
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  overflow: none;
  justify-content: center;
  align-items: flex-start;
}
.photoDialog .inner {
  text-align: center;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.photoDialog .inner img {
  max-width: 95%;
  max-height: 100%;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  min-width: 95%;
}
.photoDialog .inner button {
  border: 0px;
  outline: 0px;
  background: transparent;
  color: #fff;
  padding: 25px;
  margin-left: auto;
}
.previewDialogue {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0px;
  display: none;
  border: 0px;
  backdrop-filter: blur(8px);
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  overflow: none;
}
  .previewDialogue .inner {
    background: #79164f;
    background: #fff;
    flex-direction: column;
    display: flex;
    border-radius: 6px;;
    height: 50%;
    width: 85%;
    margin: 33% auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
  }
  .previewDialogue .inner div {
    padding: 15px;
    font-family: ubuntu;
  }

  .previewDialogue .inner .title h1 {
    font-size: 28px;
    font-family: "Ubuntu", "Helvetica Neue";
    text-align: center;
    color: #fefefe;
    color: #333;
    font-weight: 500;
  }
  .previewDialogue .inner .title p {
    font-size: 18px;
    font-family: "Ubuntu", "Helvetica Neue";
    text-align: center;
    color: #888;
    font-weight: 300;
  }
  .previewDialogue .inner .body {
    font-size: 18px;
    padding: 15px;
  }
  .previewDialogue .inner .body span {
    margin-left: 9%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #ccc;
    font-size: 16px;
    height: 30px;
    font-weight: 300;
    display: block;
  }
  .previewDialogue input {
    border: none;
		width: 70%;
    outline: none;
    padding: 10px 20px;
    font-size: 22px;
    border: 1px solid #ccc;
    color: #722F37;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    backdrop-filter: blur(3px);
    display: block;
		margin: 0px auto;
    font-weight: 400;
    border-radius: 0px;
		-webkit-transition: all .25s ease-in-out;
    -webkit-appearance: none;
  }
  .previewDialogue input:focus {
    border: 1px solid #722F37;
  }
  .previewDialogue input:focus .previewDialogue .inner .body span{
    color: #722F37 !important;
  }
  .previewDialogue .actions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    align-items: center;
  }
  .previewDialogue .actions button.continue {
    border: none;
    border-radius: 66px;
    margin: 5px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    width: 90%;
    height: 60px;
    color: #111;
    font-size: 18px;
    font-family: "ubuntu", "helvetica neue";
    font-weight: 300;
    background: #df9da9;
    background: #f2e5de;
    background: #79164f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button.continue span {
    font-family: "ubuntu", "helvetica neue";
    margin: 0px auto;
  }
  .previewDialogue .actions button.continue:active {
    background: #590a38;
  }
  .previewDialogue .actions button.nothanks {
    text-decoration: underline;
    background-color: transparent;
    border: 0px;
    outline: 0px;
    font-size: 14px;
    color: #888;
    padding: 10px 15px;
  }



.imageTray {
  background: rgba(0, 0, 0, 0.35);
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0px;
  border: 0px;
  -webkit-transition: all .25s ease-in-out;
  overflow: auto;
  backdrop-filter: blur(6px);
  display: none;
}
  .imageTray .inner {
    background: rgba(250, 250, 250, 0.15);
    backdrop-filter: blur(8px);
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100%;
   -webkit-transition: all .25s ease-in-out;
    margin-left: auto;
    -webkit-transform: translate(0px, -1000px)
  }
  .imageTray .inner div {
    padding: 15px;
    font-family: ubuntu;
  }
  .chooseButton {
   display: none;
  }
  .imageTray .inner .title {
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    text-align: center;
    padding-left: 25px;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.05);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: "ubuntu", "helvetica neue";
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
  }
  .imageTray .inner .title button {
    border: none;
    border-radius: 66px;
    padding: 15px 25px;
    color: #111;
    font-size: 18px;
    font-family: "ubuntu", "helvetica neue";
    font-weight: 300;
    color: #fff;
    font-size: 24px;
    margin-left: auto;
    background-color: transparent;
    -webkit-transform: all .25s ease-in-out;
  }
  .imageTray .inner .title button:active {
    color: #888;
  }
  .imageTray .inner .body {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: auto;
    text-align: center;
    max-width: 500px;
    flex-wrap: wrap;
  }
  .imageTray .inner .body img {
    cursor: pointer;
    margin: 5px;
    max-width: 100px;
  }
  .imageTray .inner .body img:hover{
  }
  .imageTray .actions {
    display: flex;
    padding: 150px;
    font-family: "ubuntu", "helvetica neue";
    margin-top: auto;
  }
  .imageTray .actions button {
    border: none;
    border-radius: 66px;
    margin: 25px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    height: 70px;
    width: 85%;
    color: #111;
    font-size: 22px;
    font-family: "ubuntu", "helvetica neue";
    font-weight: 300;
    background: #df9da9;
    background: #f2e5de;

    background: #79164f;
    color: #fff;
  }


















